@model IEnumerable<BigSchool.Models.Course>

@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>

<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="m">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="d">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <div class="lecture">
                        @course.LecturerName
                    </div>
                    <div class="category">
                        @course.Category.Name
                    </div>
                </div>
            </li>
        }
    </ul>
</div>